<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.kredivation.kqmoney">

    <application
            android:name=".framework.AppController"
            android:allowBackup="true"
            android:hardwareAccelerated="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:largeHeap="true"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:screenOrientation="portrait"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan">
        <activity android:name=".activity.SignUpAcivity">
        </activity>
        <activity android:name=".HomeActivity"/>
        <activity android:name=".ViewQAModelActivity"/>
        <activity
                android:name="com.kredivation.allquestionanswer.LoginActivity"
                android:label="@string/app_name">
        </activity>
        <activity android:name="com.kredivation.allquestionanswer.MainActivity">
        </activity>
        <activity
                android:name="com.kredivation.allquestionanswer.SplashScreenActivity"
                android:label="@string/app_name"
                android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>